<ul class="nav">
    <li class="nav-item">
        <a class="nav-link nav-elem" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-elem" href="/about">About me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-elem" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
            <a class="nav-link nav-elem" href="/weather">Weather</a>
        </li>
</ul>